.showOrdersBody{
  width: 30%;
  margin: auto;
}
.showOrdersBody ol li{
  font-size: 30px;
  color: #6946F4;
  font-weight: bold;
}
.ordr-img{
  padding: 20px;
}
.ordr-img img{
  height: 200px;
}
.ordersInfo{
  display: flex;
  padding-bottom: 30px;
  font-size:20px;
  font-weight: 600;
  box-shadow: 5px 5px 10px grey;
  margin: 20px;
  border-radius: 15px;
}
.order-info{
  padding-top: 20px;
  padding-left: 30px;
}
.order-info p{
  color: black;
}
.order-info span{
  color: gray;  
}
